.about {
  display: flex;
  padding-top: 7rem;

  &__title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2.2rem;
    line-height: 1.2;
  }

  &__subTitle {
    color: $Dark-Grayish-Blue;
    line-height: 1.5;
    padding-right: 8rem;
    margin-bottom: 2.2rem;
  }

  &__feature {
    margin-left: 2rem;

    &-content {
      display: flex;
      align-items: flex-start;
    }

    &-number {
      font-weight: 700;
      padding: 0.5rem 1.5rem;
      border-radius: 2rem;
      background-color: $Bright-Red;
      color: $Vary-Light-Gray;
      align-items: center;
      justify-content: center;
    }

    &-text {
      margin-left: 2rem;
    }

    &-title {
      font-weight: 700;
      margin-bottom: 2rem;
      margin-top: 0.5rem;
      align-items: center;
      justify-content: center;
    }

    &-description {
      color: $Dark-Grayish-Blue;
      line-height: 1.5;
      padding-right: 8rem;
      margin-bottom: 2.2rem;
    }
  }
}
